:root {
  --primary-black: #111026;
  --blue: #5e81f4;
  --red: #ff606d;
  --gray: #a2a2c2;
}

/* no.1 fixings */
ul,
li,
a {
  text-decoration: none;
}
li {
  list-style-type: none;
  padding-left: 1em;
}
body {
  box-sizing: border-box;
}

/* global css */
.show-it {
  display: block;
}
.show-it {
  display: none;
}
/* global css */

/* start the css style */

.dashboard {
  font-family: "Poppins", sans-serif;
}

/* .dashboard .grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10;
} */

/* Profile start */
.dashboard .top-profile {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0rem;
}

.dashboard .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard .image {
  border-radius: 50%;
  width: 57%;
}

.dashboard .menu .name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding-top: 1em;
}

.profile .top-profile span {
  font-weight: 500;
  font-size: 17px;
}

/* profile end */

/* Welcome start */
.dashboard .status {
  color: #a2a2c2;
}

.dashboard .welcome-back {
  background-color: #f7e5e9;
  margin-top: 100px;
  padding-bottom: 5px;
}
.dashboard .welcome-back ul {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.dashboard .welcome-back img {
  width: 208px;
  height: 219px;
  margin-top: -60px;
}
.title-and-date {
  padding-left: 1.5rm;
  align-self: center;
}
.dashboard .welcome-back h3 {
  font-size: 25px;
  font-weight: 700;
  color: #ff808b;
  padding-top: 10px;
}
.dashboard .welcome-back p {
  font-size: 18px;
}

/* welcome end */

/* reminders start  */
.dashboard .reminders {
  padding: 10px 0px;
  padding-top: 20px;
  padding-bottom: 25px;
}
.dashboard .reminders .top {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}

.dashboard .reminders .body {
  width: 80%;
  /* margin: 0 auto; */
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
}
.dashboard .reminders .body .logo {
  width: 54px;
  height: 54px;
  /* border: 1px solid black; */
  position: relative;
  background: #fef2f3;
  border-radius: 12%;
}
.dashboard .reminders .body .logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard .reminders .title {
  color: var(--primary-black);
}
.dashboard .reminders .date {
  color: var(--gray);
  font-size: 14px;
}
.dashboard .reminders .top {
  padding-bottom: 1em;
}

/* reminders end */

/* Grid section */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.dashboard .menu {
  grid-column: 1/13;
  grid-row: 3;
}
.dashboard .middle {
  grid-column: 1/13;
  grid-row: 2;
}
.dashboard .profile-info {
  grid-column: 1/13;
  grid-row: 1;
}

/* grid section */

/* Recent section */

/* Middle section start */
.dashboard .middle {
  background-color: #dddef3;
}
.middle .recent-notes {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 25px;
}
.middle .recent-notes .top {
  display: flex;
  justify-content: space-between;
}
.middle .recent-notes .top span {
  font-size: 17px;
  font-weight: normal;
}

.dashboard .middle .top {
  font-size: 17px;
  font-weight: 500;
}
.dashboard .middle .body {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
}
.dashboard .middle .body li {
  color: var(--primary-black);
  font-size: 1rem;
  padding: 10px 0px;
  border-bottom: 1px solid var(--gray);
}
.dashboard .middle .body li:last-child {
  border-bottom: none;
}

/* middle section end */

/* navbar section */
.dashboard .menu {
  /* margin-left: auto; */
}
.dashboard .menu .hide-nav {
  display: none;
}
.dashboard .menu .show-nav {
  display: block;
}
.dashboard .menu ul {
  position: fixed;
  bottom: 60px;
  right: 0;
}
.dashboard .menu ul li {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.dashboard .menu ul .logo {
  margin-right: 1em;
  padding-left: 1em;
  max-width: 40px;
}
.dashboard .menu nav ul .name {
  padding-top: 0em;
}
.dashboard .menu button {
  background-color: transparent;
  border: none;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 2em;
}

/* .dashboard .menu .toggle-button {
  background-color: transparent;
  border: none;
} */

/* .dashboard .menu .bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
} */

/* .dashboard .menu .container,
.dashboard .menu .change {
  position: fixed !important;
  right: 0;
  bottom: 0;
  background-color: red;
  display: flex;
  flex-direction: column;
  
  align-items: flex-end;
} */

/* .dashboard .menu .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.dashboard .menu .change .bar2 {
  opacity: 0;
}

.dashboard .menu .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
} */

/* navbar section */

/* Small tablet styles */
@media screen and (min-width: 620px) {
  .grid {
    grid-auto-flow: row;
  }
  .menu {
    grid-column: 1/3;
    grid-row: 1;
  }
  .middle {
    grid-column: 3/10;
    grid-row: 1;
  }
  .profile-info {
    grid-column: 10/13;
    grid-row: 1;
  }
  .dashboard .menu button {
    position: relative;
  }

  .dashboard .menu {
    grid-column: 1/2;
    grid-row: 1;
    /* grid-row: 3; */
  }

  .dashboard .middle {
    grid-column: 2/10;
    grid-row: 1;
  }
  .dashboard .profile-info {
    grid-column: 10/13;
    grid-row: 1;
  }

  .dashboard .welcome-back img {
    width: 100%;
  }

  .dashboard .menu ul {
    position: relative;
    bottom: 0px;
    /* right: 0; */
  }
  .dashboard .menu ul li {
    flex-direction: row;
  }
  .dashboard .menu button {
    background-color: transparent;
    padding: 0;
  }
  .dashboard .profile-info span img {
    width: 100%;
  }

  .dashboard .menu .name {
    display: none;
  }

  .dashboard .menu nav ul {
    position: fixed;
    left: 0;
    top: 40%;
  }
  .dashboard .menu ul .logo {
    display: flex;
    padding-top: 1em;
    padding-left: 0.3em;
    padding-bottom: 1em;
  }
}

/* larger tablet & laptop */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 960px) {
}
