.Single_catagory{
    height: 542px;
    background-color: #F0F4F9;
}
.inner_catagory{
    position: relative;
    top: 231px
}
.header_catagory{
    display: flex;
    /* text-align: center; */
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 33vh;

}
.inner_catagory p{
   color: #FDC800;
}
.inner_catagory h1{
    color: #002147;
}

.Two_item{
    display: flex;
    justify-content: center;
}
.describtion{
    width: 400px;
    color: black !important;
}
.catagory_image{
   padding-right: 20px;
}
.catagory_image img{
    width: 700px;
    height: 555px;
}

/* other section */

.other_section{
    height: 555px;
    width: 320px;
    border: 2px solid;
}



.profie{
    position: relative;
    top: 300px;
    text-align: center;
    height: 263px;
    width: 349px;
    border: 1px solid;
}


/*single card  */
.all_cardList{
    display: flex;
    justify-content: center;
}
.catagory_card{
    height: 369px;
    width:370px ;
    box-shadow: 0px 0px 1.4px black;
    
}
.card_body img{
    height: 64px;
    width: 64px;
    border: 6px solid gray;
    position: relative;
    top: -30px;
}