.container {
  padding: 0 !important;
}
.our_container {
  background-color: #f0f4f9 !important;
  height: 100px;
  margin: 0px;
}
.Link:hover {
  text-decoration: none;
}

/* banner */

/* catagories */

/* subscribe now */

/* footer */

/* filter */

/* allnots
 */

/* for scroll */

/* top container */

/* hero section */

/* Login.css */
.login {
  margin: 20px 10px 0px;
}
.login .col-6 {
  padding: 0px;
  flex: 0 0 50%;
  max-width: 50%;
}

input.btn-custome,
button.text-primary.btn-custome {
  background: #c4e93f;
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-top: 15px;
}
input:focus {
  outline: none;
}
button.text-primary.btn-custome {
  color: white !important;
  border: none;
  padding: 10px 0px;
  border-radius: 5px;
  margin-bottom: 10px;
}
button.btn.btn-custome1 {
  background: #b9c145;
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin-top: 15px;
}
.btn-custome {
  background: #b9c145;
  margin-top: 20px;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 15px;
  padding: 8px 35px;
}
/* Login.css */
