:root {
  --primary-black: #111026;
  --blue: #5e81f4;
  --red: #ff606d;
  --gray: #a2a2c2;
  --main-font: "Poppins", sans-serif;
}

/* no.1 fixings */
ul,
li,
a {
  text-decoration: none;
}
li {
  list-style-type: none;
  padding-left: 1em;
}
body {
  box-sizing: border-box;
}

body {
  background-color: #fff !important;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
span,
img,
strong,
p,
i {
  padding: 0px;
  margin: 0;
  font: 100, 200, 300;
}
