@media only screen and (min-width: 800px) and (max-width: 1030px){
  .Banner {
    padding: 0px 25px;
  }
  .banner_part_1 {
    padding-right: 10px;
  }
  .banner_part_2 {
    padding-left: 10px;
  }
  .footer_item {
    grid-gap: 0px;
  }

}


@media only screen and (min-width: 681px) and (max-width: 940px) {
  .Banner {
    padding: 0px 25px;
  }
  .banner_part_1 {
    padding-right: 10px;
  }
  .banner_part_2 {
    padding-left: 10px;
  }
  .footer_item {
    grid-gap: 0px;
  }

  .top_bar {
    justify-content: space-around;
    padding: 0px;
  }
  .navbar_class {
    padding: 7px 30px !important;
  }
  .footer_style {
  }
  .footer_item {
    grid-gap: 0px;
    padding: 0px 24px;
  }
  .subscribe_now {
    margin: 0px 20px;
  }
  .subscribe_part1 {
    padding-right: 10px;
  }
  .subscribe_part2 {
    padding-left: 10px;
  }

  /* card */
  .all_cardList {
    justify-content: center;
  }
  .button_class {
  }
  .button_here {
    margin: 0px;
    margin-top: 10px;
  }
  .catagory_card {
    margin-top: 40px;
  }
  /* banner */

  .banner_part_2 img {
    width: 368px;
  }

  .filter_option {
  }
  .filter_option select {
    width: 161px;
  }
  .top_container {
    margin: 0px 46px;
  }

  .footer_copyright {
    margin: 0px;
    position: relative;
    padding: 0px 20px;
  }
}
@media screen and (max-width: 680px) {
  /* topbar */

  .top_bar {
    padding: 18px;
  }

  .part_one {
    display: flex;
  }
  .part_one span {
    display: none;
  }
  .part_two {
    display: flex;
  }
  /* navbar */
  .navbar_class {
    padding: 20px !important;
    display: flex;

    flex-direction: row;
  }
  .Banner {
    display: flex;
    flex-wrap: wrap;
    height: 651px;
  }
  .banner_part_1 {
    padding: 10px;
  }
  .banner_part_2 {
    padding: 0px;
  }
  .banner_part_2 img {
    width: 100%;
    height: 80%;
  }
  /* catagory */
  .catagory_list {
    margin: 0px 31px;
  }
  .Two_item {
    width: 378px;
  }

  /* subscribebar */
  .subscribe_now {
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    height: auto;
  }
  .subscribe_part1 {
    padding: 10px;
  }
  .subscribe_part1 img {
    height: 100%;
    width: 80%;
  }
  .subscribe_part2 {
    padding: 10px;
    margin: 0px;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .subscribe_part2 h1 {
    text-align: center;
  }
  .form_style {
    padding: 0px 10px;
    flex-wrap: wrap;
  }

  /* footer */

  .footer_style {
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
  }
  .footer_item {
    grid-gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .footer_part1 {
    padding: 0px 35px;
  }
  .footer_part2 {
    justify-content: space-evenly;
  }
  .item_1,
  .item_2,
  .item_3 {
    padding: 0px;
  }
  .footer_copyright {
    margin: 0px;
    position: relative;
    padding: 0px 20px;
  }

  /* container */
}
@media screen and (max-width: 400px) {
  .filter_option {
  }
  .top_container {
    margin: 14px;
  }
  .navbar_class {
    padding: 4px 10px !important;
  }
}
@media screen and (max-width: 376px){
  .all_cardList{
    justify-content: center;
  }
  .catagory_card{
    width: 306px;
  } 
}